/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

#discordbtn {
  display: none;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
  color: #fefefe;
  /* padding: 0rem 0 1rem 0; */
}

section {
  min-height: 100vh;
}

.subsection {
  margin: 1rem;
}


h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  /* text-transform: lowercase; */
  font-style: italic;
  text-align: center;
  
}

h5 {
  color: #fefefe;
  /* text-align: center; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height */
  /* text-transform: lowercase; */
  margin: 0 auto;
  color: #212121;
}

.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg_primary.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #02020B;
}

.mainSectionDiv {
  display: flex; justify-content: center; align-items: center; 
  max-width: 640px;
}

.mainSection > div {
  flex:1;
}

.mainContent {
  flex: 35; 
  margin: 4rem 2rem 0 2rem; 
  border: 0.1rem dashed #564bff; 
  outline: 0.2rem solid #F2C94C;
  padding: 3rem; 
  border-radius: 0.6rem;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.btn {
  /* Auto Layout */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 8px 32px;

  background: #fff;
  border-radius: 0.2rem;
  border: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  /* identical to box height */

  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* text-transform: lowercase; */

  background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.btn:hover {
  background-position: right top; /* change the direction of the change here */
}

input, input:focus, input:active {
  background-color: transparent;
  border: none;
  border-bottom: #564bff 1px solid;
  font-size: 1.5rem;
  color: #fefefe;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
}

section > div {
  max-width: 1200px;
}

.signupmodal {
   display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modalcontent {
  background-color: #02020B;
  margin:  auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #fefefe;
  border-radius: 0.1rem;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  color: #fefefe;
}

.fixed-footer > a {
  text-decoration: none;
  color: #fefefe;
  letter-spacing: 3px ;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 350px) and (max-width: 800px) {
  header > div {
    margin: auto 1rem;
  }

  .horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    
    font-size: 48px;
  }
  h5 {
    font-size: 20px;
  }
  
  .mainSectionDiv {
    flex-direction: column-reverse;
  }

  .mainContent {
    align-items: center;
  }
  
  .mainContent > h3 {
    text-align: center;
  }

}

@media only screen and (max-width: 350px) {
  h1 {
    text-align: center;
    font-size: 48px;
  }
  section {
    align-items: flex-start;
  }

  .mainSectionDiv {
    flex-direction: column-reverse;
  }
  
  .mainContent {
    align-items: center;
  }
  
  .mainContent > h3 {
    text-align: center;
  }

  h1 {
    font-size: 1rem;
  }
  
}
